<!DOCTYPE html>
<html>    
    <body>
        {% load i18n %}{% autoescape off %}
        <p>Você recebeu este e-mail porque solicitou a recuperação da sua senha.</p>
        <p>Use o link abaixo para definir uma nova senha:</p>
        <p>
            {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}
            {% endblock %}
        </p>
        <p>Nome de usuário: {{ user.get_username }}</p>
        <p>Se você não solicitou esta alteração, ignore esta mensagem.</p>
        {% endautoescape %}
    </body>
</html>
